---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Me</Menu></span>
                <h2 class="cs-title">JSilverPhotography</h2>
                <p class="cs-text">
                    I'm Jenny, a passionate photographer with a background in psychology that enriches my ability to capture the essence of human emotion and natural beauty, particularly through sports photography. Through my lens, I explore the delicate interplay of light and shadow, the candid expressions of athletes in action, and the dynamic movements that define sporting moments. 
                </p>
                <p class="cs-text">
                    My photography is a blend of artistic creativity and technical precision. I enjoy experimenting with various techniques and perspectives to push the boundaries of my craft, always aiming to tell compelling stories through each image. Whether I'm on the sidelines of a game or exploring nature's landscapes, my goal is to create photographs that resonate deeply and capture the beauty and complexity of the world around us.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        I'm always up for new creative ideas and projects! Please reach out! 
                    </p>
                    <span class="cs-name">Jenny DeSilver</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/projects" class="cs-button-solid">Contact Me!</a>
            </div>
        </div>
    </section>


{% endblock %}