---
title: 'family_photography'
description: 'Description for <meta> and OG tags'
preloadImg: '/assets/images/imagename.format'
permalink: 'family_photography/'
eleventyNavigation:
    key: Name to appear in navigation
    parent: Delete, or put another page's key here to create a dropdown
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/family_photography.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->
<section id="int-hero">
    <h1 id="home-h">Family Photos</h1>
    
</section>
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1508">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">Explore Our Family Photo Gallery</h2>
           
        <!--Picture 1-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-one.png">
                <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-one.png">
                <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-one.png0"
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Die Paper Craft</h3>
                <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
            </div>
        </div>
        <!--Picture 2-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-two.png">
                <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-two.png">
                <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-two.png5"
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Die Paper Craft</h3>
                <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
            </div>
        </div>
        <!--Picture 3-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-three.png">
                <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-three.png">
                <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-three.png5"
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Die Paper Craft</h3>
                <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
            </div>
        </div>
        <!--Picture 4-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-four.png">
                <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-four.png">
                <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-four.png5"
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Die Paper Craft</h3>
                <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
            </div>
        </div>
        <!--Picture 5-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-five.png">
                <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-five.png">
                <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-five.png5"
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Die Paper Craft</h3>
                <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
            </div>
        </div>
        <!--Picture 6-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-six.png">
                <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-six.png">
                <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-six.png0"
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Die Paper Craft</h3>
                <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
            </div>
        </div>
        <!--Picture 7-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-seven.png">
                <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-seven.png">
                <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-seven.png0"
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Die Paper Craft</h3>
                <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
            </div>
        </div>
        <img class="cs-graphic cs-graphic-one"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-team-graphic-four.svg"
                alt="graphic" loading="lazy" decoding="async" height="134" width="197">
        <img class="cs-graphic cs-graphic-two"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-team-graphic-three.svg"
                alt="graphic" loading="lazy" decoding="async" height="191" width="138">
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Family Photo Sessions</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Session One</span>
                        <span class="cs-price">$75</span>
                    </h3>
                    <p class="cs-menu-text">
                        <br>- 1 hour </br>
                        <br>- 10-15 Edited Photos <br>
                        <br>- USB with Photos</br>
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Package Two</span>
                        <span class="cs-price">$140</span>
                    </h3>
                    <p class="cs-menu-text">
                        <br>- 2 hour </br>
                        <br>- 15-20 Edited Photos <br>
                        <br>- USB with Photos</br>
                    </p>
                </li>
               
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Package Three</span>
                        <span class="cs-price">$200</span>
                    </h3>
                    <p class="cs-menu-text">
                        <br>- 3 hours </br>
                        <br>- 20-25 Edited Photos <br>
                        <br>- USB with Photos</br>
                    </p>
                </li>
                
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/salon3.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/salon3.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/salon3.jpg" alt="hair salon" width="521" height="640">
        </picture>
    </div>
</section>


                                
{% endblock %}



  