---
title: 'JSilverPhotography'
description: 'Photography portfolio'
preloadImg: '/assets/images/20211001_124737.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Jenny DeSilver</span>
                <h1 class="cs-title">JSilverPhotography</h1>
                <p class="cs-text">
                   Amateur Photographer
                </p>
                <a href="/about" class="cs-button-solid">Explore More</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17" />
                    Get in Touch
                </a>
                <!-- Background Image -->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/20211001_124737.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/20211001_124737.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/20211001_124737.jpg" alt="water_home_page" width="2500" height="1667" loading="eager">
                </picture>
            </div>
        </div>

        
           


    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
           <a href="/sports_photography"> <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/sports_photography1.png"
                alt="appliance"
                width="60"
                height="60"/>
            </picture>
        </a>
            <h2>Sports Photography</h2>
        </div>
        <div class="card">
           <a href="/family_photography">
           <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/camera.png"
                alt="camera"
                width="60"
                height="60" />
            </picture>
        </a>
            <h2>Family Photos</h2>
        </div>
        <div class="card">
            <a href="/mini_photography">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/clock.png"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
        </a>
            <h2>Mini Photo Sessions</h2>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/IMG_5392.pngg">
                    <source media="(min-width: 601px)" srcset="/assets/images/IMG_5392.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/IMG_5392.png" alt="jenny2" loading="lazy" width="400" height="563">
                </picture>
               
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About JSilverPhotography</h2>
                <p class="cs-text">
                   
                
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Hi! I'm Jenny! I have a background in psychology and a passion for photography. In my free time I enjoy camping, crafting, and creating.
                    </p>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Portfolio</span>
                <h2 class="cs-title">Check out my Recent Work</h2>
                
                <p class="cs-text">
                    Keep up to date with my recent work. 
                </p>
                <a href="/blog" class="cs-button-solid">See my Portfolio</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Hall of Fame</span>
            <h2 class="cs-title">Best Personal Photos</h2>
            
            <a href="/projects" class="cs-button-solid">View Hall of Fame</a>
        </div>
    </section>

{% endblock %}